@page
@model Wall_Net_Front.Pages.FixedTermDeposit.FixedTermDepositDetailModel
@{
}
<div class="card mb-3">
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: @Model.fixedTerm.Id</li>
            <li class="list-group-item">Monto: @Model.fixedTerm.amount</li>
            <li class="list-group-item">Fecha de Creación: @Model.fixedTerm.creation_date</li>
            <li class="list-group-item">Fecha de Cierre: @Model.fixedTerm.closing_date</li>
            <li class="list-group-item">Interes Nominal: @Model.fixedTerm.nominalRate</li>
            <li class="list-group-item">Estado: @Model.fixedTerm.state</li>
        </ul>
    </div>
</div>

<a class="btn-rosa" asp-area="" asp-page="/FixedTermDeposit/FixedTermDeposit">Volver</a>